<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img\740pill_100923.ico') }}">
    <title>MedEdMate Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body class="background_about_us">
    <section class="sub-header">
        <nav>
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='/img/logo.png') }}"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('faq') }}">FAQs</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT US</a></li>

                    <!-- Slider Toggle Button -->
                    <li class="theme-slider">
                        <label class="switch">
                          <input type="checkbox" id="theme-slider-checkbox">
                          <span class="slider round"></span>
                        </label>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>About Us</h1>
    </section>

    <section class="info">
        <div class="our_mission">
            <h1>Who We Are</h1>
            <p>MedEdMate is more than just a platform; it's a commitment to public health. Born from the need to address the escalating issue of antibiotic misuse, we serve as a beacon of reliable information in a sea of misinformation. Our technology is a blend of innovation and necessity, designed to provide accurate, easy-to-understand guidelines on antibiotic use. We don't just offer a service; we offer peace of mind.</p>
        </div>
        <div class="who_we_are">
            <h1>Our Mission</h1>
            <p>At MedEdMate, our mission is to empower people to make informed decisions about antibiotic use. We aim to simplify the complex world of antibiotics through our interactive chatbot, providing easy-to-understand and accurate information. Our ultimate goal is to contribute to the fight against antibiotic resistance, a growing public health concern.</p>
        </div>
    </section>
    <section class="what_we_do">
        <div class="title">
            <h2>What we Do</h2>
        </div>
        <div class="box">
            <div class="card">
                <i class="fa fa-book"></i>
                <h2>Educate</h2>
                <div class="pra"><p>Offer guidelines and insights about when and how to use antibiotics responsibly.</p></div>
            </div>
            <div class="card">
                <i class="fa fa-medkit"></i>
                <h2>Inform</h2>
                <div class="pra"><p>Provide up-to-date information on antibiotic types, their uses, and the risks associated with misuse.</p></div>
            </div>
            <div class="card">
                <i class="fa fa-handshake-o"></i>
                <h2>Assist</h2>
                <div class="pra"><p>Answer specific questions and concerns about antibiotic usage through our interactive chatbot</p></div>
            </div>
            <div class="card">
                <i class="fa fa-comments"></i>
                <h2>Recommend</h2>
                <div class="pra"><p>Suggest nearby locations for responsible antibiotic procurement and disposal.</p></div> 
            </div>
        </div>
    </section>

    <section class="try_chat_bot">
        <h4> Click below to try our chatbot!</h3>
            <a href="{{url_for('index')}}#chat_bot_section" class="hero-btn"><span>TRY OUR CHATBOT!</span></a>
    </section>

<!----To-Top-Button---->
<a href="#" class="to-top">
    <i class="fa fa-chevron-up"></i>
</a>

<!----Footer---->
<footer>
    <div class="left-image">
        <a href="{{ url_for('index.html') }}"><img src="{{ url_for('static', filename='/img/logo.png') }}" alt="Left Image"></a>
    </div>
    <ul class="menu">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
        <li><a href="{{ url_for('about') }}">ABOUT US</a></li>
    </ul>
    <ul class="social-icon"> 
        <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
        <li><a href=""><i class="fa fa-instagram"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href=""><i class="fa fa-envelope"></i></a></li>
    </ul>
    <div class="right-image">
        <a href="https://www.um.edu.mt/ict/ai/" target="_blank"><img src="{{ url_for('static', filename='/img/other/uom.png') }}" alt="Right Image" ></a>
    </div>
    <p>©2023 MedEdMate | All Rights Reserved</p>
</footer>

<!--------JavaScript for Toggle Menu-------->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-270px"; 
    }
</script>

<!--------JavaScript for to-top arrow-------->
<script>
    window.addEventListener('scroll', function() {
        const toTopButton = document.querySelector('.to-top');
        if (window.pageYOffset > 100) {
            toTopButton.classList.add('active');
        } else {
            toTopButton.classList.remove('active');
        }
    });
  </script>  

<!--------JavaScript for Slider Button-------->
<script>
 document.getElementById('theme-slider-checkbox').addEventListener('change', function() {
     window.location.href = this.checked ? "{{ url_for('simple_ui') }}": "{{ url_for('index') }}";
 });
</script>
</body>
</html>