<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img\740pill_100923.ico">
    <title>MedEdMate Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/faq.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="background_about_us2"> 
    <!--------Header-------->
    <nav>
        <a href="index.html"><img src="/img/logo.png"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="faq.html">FAQs</a></li>
                <li><a href="about.html">ABOUT US</a></li>
                <!-- Slider Toggle Button -->
                <li class="theme-slider">
                    <label class="switch">
                        <input type="checkbox" id="theme-slider-checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    
    <!--- FAQs -->
    <section class="ageCardContent">
        <div class="grid">
            <div class="gridItem">
                <div class="card"><img class="cardImg"
                        src="https://plus.unsplash.com/premium_photo-1674769115699-4f1103aa2718?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Young Child">
                    <div class="cardContent">
                        <h1 class="cardHeader">Youngsters</h1>
                        <p class="cardText">See recommondations for people aged <strong>0-16</strong> in resepct to
                            antibiotics </p>
                        <button id="youngButton" class="cardButton"><span>Explore &rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="gridItem">
                <div class="card"><img class="cardImg"
                        src="https://images.unsplash.com/photo-1569617084133-26942bb441f2?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Group of Adults">
                    <div class="cardContent">
                        <h1 class="cardHeader">Adults</h1>
                        <p class="cardText">See recommondations for people aged <strong>16-60</strong> in resepct to
                            antibiotics</p>
                        <button id="adultButton" class="cardButton"><span>Explore &rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="gridItem">
                <div class="card"><img class="cardImg"
                        src="https://plus.unsplash.com/premium_photo-1674855780695-b5d5c3e86b88?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Elderly">
                    <div class="cardContent">
                        <h1 class="cardHeader">Elderly</h1>
                        <p class="cardText">See recommondations for people aged <strong>60+<br></strong> in resepct to
                            antibiotics</p>
                        <button id="elderButton" class="cardButton"><span>Explore <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----Defualt Before Selection---->
    <section id="defaultSelection">
        <!--Change This with a video explaining the faq-->
        <iframe width="720" height="405" src="https://www.youtube.com/embed/ndsaoMFz9J4?si=ENj0lZJYKniVWAGe"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </section>
    </section>

    <!----FAQs---->
    <!--Changing Content Section-->
    <section id="elderSection" class="vanish">
        <div class="flexReq">
            <div class="grid">
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://assets-us-01.kc-usercontent.com/ffacfe7d-10b6-0083-2632-604077fd4eca/08e57059-c1a6-4377-a3e9-42f913f09603/Senior-Hispanic-man-common-cold_iStock-1150744823_2021-10_FB-1200x630.jpg"
                        alt="Alcohol">
                    <div class="cardContent">
                        <h1 class="cardHeader">Can I take antibiotics for viral infections like the flu or common cold?</h1>
                        <p class="cardText">No, antibiotics are effective against bacteria, not viruses. They won't work for viral infections like the flu or common cold.</p>
                        <button id="elderCard1" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://www.grxstatic.com/4f3rgqwzdznj/2iTwfzamEI0c9eKlaq32Cr/dd093a023756278a13d321ff2427f448/holding_prescription_pad_and_pen_669638328.jpg?format=pjpg&auto=webp&width=704"
                        alt="Birth Control Pill">
                    <div class="cardContent">
                        <h1 class="cardHeader">Should I finish the entire prescription even if I feel better?</h1>
                        <p class="cardText">Take antibiotics exactly as prescribed by your doctor. Finish the entire prescription, even if you start feeling better, to ensure that all bacteria are eliminated.</p>
                        <button id="elderCard2" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://hips.hearstapps.com/hmg-prod/images/table-filled-with-large-variety-of-food-shot-from-royalty-free-image-1659038707.jpg?crop=1xw:0.84335xh;center,top&resize=1200:*"
                        alt="Person with Flu">
                    <div class="cardContent">
                        <h1 class="cardHeader">Are there any specific foods I should avoid while on antibiotics?</h1>
                        <p class="cardText">Some antibiotics may interact with certain foods, so it's best to ask your doctor or pharmacist for guidance. For example, dairy products can interfere with the absorption of some antibiotics.</p>
                        <button id="elderCard3" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://www.futurity.org/wp/wp-content/uploads/2018/09/orange-pill-bottle-on-blue_1600.jpg"
                        alt="Pills">
                    <div class="cardContent">
                        <h1 class="cardHeader">Can I take other medications or supplements with antibiotics?</h1>
                        <p class="cardText">Inform your doctor about all medications and supplements you're taking to avoid potential interactions. Some medications may reduce the effectiveness of antibiotics.</p>
                        <button id="elderCard4" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://ajp.com.au/wp-content/uploads/2017/09/8748750_xl.jpg"
                        alt="Hand with Pill">
                    <div class="cardContent">
                        <h1 class="cardHeader">What should I do if I miss a dose of antibiotics?</h1>
                        <p class="cardText">Take the missed dose as soon as you remember. If it's almost time for the next dose, skip the missed one and continue with the regular schedule. Do not double up on doses.</p>
                        <button id="elderCard5" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://img.freepik.com/premium-photo/pocket-watch-hands-man_261642-1349.jpg"
                        alt="Garbage Disposal Can">
                    <div class="cardContent">
                        <h1 class="cardHeader">How long does it take for antibiotics to start working?</h1>
                        <p class="cardText">The time it takes for antibiotics to work varies depending on the type of infection and the specific antibiotic. Generally, you should start feeling better within a few days. If not, contact your doctor.</p>
                        <button id="elderCard6" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://assets.trustedcare.co.uk/elderly-alcohol-abuse.go1brm.image.lqn.jpg"
                        alt="Elderly">
                    <div class="cardContent">
                        <h1 class="cardHeader">Can I drink alcohol while taking antibiotics?</h1>
                        <p class="cardText">It's generally advisable to avoid alcohol while on antibiotics, as it may interfere with the medication and increase the risk of side effects.</p>
                        <button id="elderCard7" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/2022-08/pill_swallow.jpg"
                        alt="Liver Pain">
                    <div class="cardContent">
                        <h1 class="cardHeader">Can I share my antibiotics with someone else who has similar symptoms?</h1>
                        <p class="cardText">No, antibiotics are prescribed based on specific infections and individual health conditions. Sharing antibiotics can lead to inappropriate use and contribute to antibiotic resistance. Always consult a doctor for proper evaluation and prescription.</p>
                        <button id="elderCard8" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <div class="card"><img class="cardImg"
                            src="https://media.post.rvohealth.io/wp-content/uploads/sites/2/2020/03/GRT-vitamin-pill-1296x728-header.jpg"
                            alt="Woman taking Pill">
                        <div class="cardContent">
                            <h1 class="cardHeader">Can I take probiotics while on antibiotics to prevent digestive issues?</h1>
                            <p class="cardText">Yes, taking probiotics can help maintain a healthy balance of gut bacteria, especially during and after a course of antibiotics. However, consult your doctor before starting any supplements.</p>
                            <button id="elderCard9" class="cardButton"><span>Find Out More &rarr;</span></button>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="adultSection" class="vanish">
        <div class="flexReq">
            <div class="grid">
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://images.unsplash.com/photo-1436076863939-06870fe779c2?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Alcohol">
                    <div class="cardContent">
                        <h1 class="cardHeader">Can I drink alcohol while taking antibiotics?</h1>
                        <p class="cardText">It's best to avoid alcohol as it can interfere with the effectiveness of
                            antibiotics and might cause side effects.</p>
                        <button id="adultCard1" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>

                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://plus.unsplash.com/premium_photo-1661779699135-71a8058d6cb3?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Birth Control Pill">
                    <div class="cardContent">
                        <h1 class="cardHeader">How do antibiotics affect birth control pills?</h1>
                        <p class="cardText">Some antibiotics might <strong>reduce</strong> the effectiveness of
                            birth control pills.
                            Discuss with a healthcare professional for advice on additional contraceptive measures.
                        </p>
                        <button id="adultCard2" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://plus.unsplash.com/premium_photo-1664543258927-b8ff8267f4ce?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Person with Flu">
                    <div class="cardContent">
                        <h1 class="cardHeader">Should I take antibiotics for the flu?</h1>
                        <p class="cardText">No, the flu is viral. Antibiotics <strong>won't help</strong>; they
                            treat bacterial infections.
                        </p>
                        <button id="adultCard3" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://images.unsplash.com/photo-1587854692152-cbe660dbde88?auto=format&fit=crop&q=80&w=2069&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Pills">
                    <div class="cardContent">
                        <h1 class="cardHeader">Do antibiotics interact with my other medications?</h1>
                        <p class="cardText">They can. Always inform your healthcare provider about all medications
                            you're taking to avoid harmful interactions.
                        </p>
                        <button id="adultCard4" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://images.unsplash.com/photo-1625402534923-e8132f4b1de4?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Hand with Pill">
                    <div class="cardContent">
                        <h1 class="cardHeader">Can antibiotics cause an allergic reaction?</h1>
                        <p class="cardText">Yes, like any medication, antibiotics can cause allergic reactions in
                            some people. If you experience symptoms of an allergy, seek medical attention
                            immediately.
                        </p>
                        <button id="adultCard5" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://images.unsplash.com/photo-1604187351574-c75ca79f5807?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Garbage Disposal Can">
                    <div class="cardContent">
                        <h1 class="cardHeader">How should I dispose of unused medications?</h1>
                        <p class="cardText">You should dispose of your medications by taking them to your nearest
                            pharamacy. Never take experied medication or throw medications in the sink or toilet.
                        </p>
                        <button id="adultCard6" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://plus.unsplash.com/premium_photo-1682096679402-cb9b57e5a9b9?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Elderly">
                    <div class="cardContent">
                        <h1 class="cardHeader">Are antibiotics effective for treating acne?</h1>
                        <p class="cardText">Some antibiotics can help with acne, but they should be prescribed by a
                            healthcare professional as part of an overall treatment plan.
                        </p>
                        <button id="adultCard7" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://plus.unsplash.com/premium_photo-1661396881246-a12356777d0a?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Liver Pain">
                    <div class="cardContent">
                        <h1 class="cardHeader">Are antibiotics bad for your liver?</h1>
                        <p class="cardText">Long-term or inappropriate use can harm your liver. It's essential to
                            use them correctly as prescribed.
                        </p>
                        <button id="adultCard8" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
                <div class="gridItem">
                    <img class="cardImg"
                        src="https://images.unsplash.com/photo-1611498478548-78e1314ffbf1?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Woman taking Pill">
                    <div class="cardContent">
                        <h1 class="cardHeader">Why is it dangerous to take antibiotics unnecessarily?</h1>
                        <p class="cardText">Unnecessary use can lead to antibiotic resistance, making bacterial
                            strains stronger and harder to treat in the future.
                        </p>
                        <button id="adultCard9" class="cardButton"><span>Find Out More &rarr;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="youngSection" class="vanish">
        <div class="MedicalFAQContainer">
            <div class="FAQCard">
                <div class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <div class="content">
                    <h2>Can I give my child my antibiotics?</h2>
                    <p>No, antibiotics should be prescribed to treat specific conditions and dosages are tailored to
                        individual needs. Misuse can lead to antibiotic resistance to develop in your child,
                        complicating future treatment.
                    </p>
                    <div id="youngCard1" class="youngIconContainer">
                        <img src="img/robot_normal.png" alt="Robot Normal Icon" class="youngRobotImage">
                        <img src="img/robot_thinking.png" alt="Robot Thinking Icon" class="youngRobotImage">
                    </div>
                </div>
            </div>
            <div class="FAQCard">
                <div class="icon">
                    <ion-icon name="accessibility-outline"></ion-icon>
                </div>
                <div class="content">
                    <h2>Should I use antibiotics to treat Colds?</h2>
                    <p>No, Colds are caused by viruses, and antibiotics cannot kill viruses. They are used for bacterial
                        infections. Treat symptoms of a cold by staying hydrated and resting. See a doctor if needed.
                    </p>
                    <div id="youngCard2" class="youngIconContainer">
                        <img src="img/robot_normal.png" alt="Robot Normal Icon" class="youngRobotImage">
                        <img src="img/robot_thinking.png" alt="Robot Thinking Icon" class="youngRobotImage">
                    </div>
                </div>
            </div>
            <div class="FAQCard">
                <div class="icon">
                    <ion-icon name="ear-outline"></ion-icon>
                </div>
                <div class="content">
                    <h2>Aren't antibiotics supposed to treat ear infections?</h2>
                    <p>At least half of all ear infections go away without antibiotics. Many true ear infections are
                        caused by viruses and do not require antibiotics.</p>
                    <div id="youngCard3" class="youngIconContainer">
                        <img src="img/robot_normal.png" alt="Robot Normal Icon" class="youngRobotImage">
                        <img src="img/robot_thinking.png" alt="Robot Thinking Icon" class="youngRobotImage">
                    </div>
                </div>
            </div>
        </div>

        <div class="MedicalFAQContainer">
            <div class="FAQCard">
                <div class="icon">
                    <ion-icon name="sad-outline"></ion-icon>
                </div>
                <div class="content">
                    <h2>Do antibiotics cause side effects?</h2>
                    <p>Side effects occur in up to 1 in 5 children who take an antibiotic. Side effects may include
                        rashes, allergic reactions, nausea, diarrhea, and stomach pain.</p>
                    <div id="youngCard4" class="youngIconContainer">
                        <img src="img/robot_normal.png" alt="Robot Normal Icon" class="youngRobotImage">
                        <img src="img/robot_thinking.png" alt="Robot Thinking Icon" class="youngRobotImage">
                    </div>
                </div>
            </div>
            <div class="FAQCard">
                <div class="icon">
                    <ion-icon name="hourglass-outline"></ion-icon>
                </div>
                <div class="content">
                    <h2>How long does it take an antibiotic to work?</h2>
                    <p>Most bacterial infections improve within 48 to 72 hours of starting an antibiotic. If your
                        child's symptoms get worse or do not improve within 72 hours, call your child's doctor.</p>
                    <div id="youngCard5" class="youngIconContainer">
                        <img src="img/robot_normal.png" alt="Robot Normal Icon" class="youngRobotImage">
                        <img src="img/robot_thinking.png" alt="Robot Thinking Icon" class="youngRobotImage">
                    </div>
                </div>
            </div>
            <div class="FAQCard">
                <div class="icon">
                    <ion-icon name="medkit-outline"></ion-icon>
                </div>
                <div class="content">
                    <h2>Are antibiotics effective for treating acne?</h2>
                    <p>Some antibiotics can help with acne, but they should be prescribed by a healthcare professional
                        as part of an overall treatment plan.
                    </p>
                    <div id="youngCard6" class="youngIconContainer">
                        <img src="img/robot_normal.png" alt="Robot Normal Icon" class="youngRobotImage">
                        <img src="img/robot_thinking.png" alt="Robot Thinking Icon" class="youngRobotImage">
                    </div>
                </div>
            </div>
        </div>

        <div class="MedicalFAQContainer">
            <div class="FAQCard">
                <div class="icon">
                    <ion-icon name="alert-circle-outline"></ion-icon>
                </div>
                <div class="content">
                    <h2>Can antibiotics lead to resistant bacteria?</h2>
                    <p>Repeated use and misuse of antibiotics can lead to resistant bacteria. It is important that
                        your child use the antibiotic specific for the infection, rather than an
                        antibiotic that would treat a broader range of infections.</p>
                    <div id="youngCard7" class="youngIconContainer">
                        <img src="img/robot_normal.png" alt="Robot Normal Icon" class="youngRobotImage">
                        <img src="img/robot_thinking.png" alt="Robot Thinking Icon" class="youngRobotImage">
                    </div>
                </div>
            </div>
            <div class="FAQCard">
                <div class="icon">
                    <ion-icon name="checkmark-done-outline"></ion-icon>
                </div>
                <div class="content">
                    <h2>At what age can I give my baby paracetamol or ibuprofen?</h2>
                    <p>You can give paracetamol to children aged 2 months or older for pain or fever. You can give
                        paracetamol to children aged 2 months or older for pain or fever</p>
                    <div id="youngCard8" class="youngIconContainer">
                        <img src="img/robot_normal.png" alt="Robot Normal Icon" class="youngRobotImage">
                        <img src="img/robot_thinking.png" alt="Robot Thinking Icon" class="youngRobotImage">
                    </div>
                </div>
            </div>
            <div class="FAQCard">
                <div class="icon">
                    <ion-icon name="hand-right-outline"></ion-icon>
                </div>
                <div class="content">
                    <h2>My child feels better; can they stop taking my antibiotics?</h2>
                    <p>No, your child should complete the full prescribed course to fully eradicate the bacteria, even
                        if they feel better.
                    </p>
                    <div id="youngCard9" class="youngIconContainer">
                        <img src="img/robot_normal.png" alt="Robot Normal Icon" class="youngRobotImage">
                        <img src="img/robot_thinking.png" alt="Robot Thinking Icon" class="youngRobotImage">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----To-Top-Button---->
    <a href="#" class="to-top">
        <i class="fa fa-chevron-up"></i>
    </a>

    <!----Footer---->
    <footer>
        <div class="left-image">
            <a href="index.html"><img src="/img/logo.png" alt="Left Image"></a>
        </div>
        <ul class="menu">
            <li><a href="index.html">HOME</a></li>
            <li><a href="faq.html">FAQs</a></li>
            <li><a href="about.html">ABOUT US</a></li>
        </ul>
        <ul class="social-icon">
            <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href=""><i class="fa fa-envelope"></i></a></li>
        </ul>
        <div class="right-image">
            <a href="https://www.um.edu.mt/ict/ai/" target="_blank"><img src="/img/other/uom.png" alt="Right Image"></a>
        </div>
        <p>©2023 MedEdMate | All Rights Reserved</p>
    </footer>

    <!--------JavaScript for Toggle Menu-------->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-270px";
        }
    </script>

    <!--------JavaScript for to-top arrow-------->
    <script>
        window.addEventListener('scroll', function () {
            const toTopButton = document.querySelector('.to-top');
            if (window.pageYOffset > 100) {
                toTopButton.classList.add('active');
            } else {
                toTopButton.classList.remove('active');
            }
        });
    </script>

    <!--------JavaScript for Slider Button-------->
    <script>
        document.getElementById('theme-slider-checkbox').addEventListener('change', function () {
            window.location.href = this.checked ? 'simple_ui.html' : 'index.html';
        });
    </script>

    <!--------BootStrap JS------->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- FAQ Script-->
    <script src="/js/fagAgeLogic.js"></script>
    <script src="/js/faqRobotLogic.js"></script>
</body>

</html>