<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedEdMate Website</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img\740pill_100923.ico')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />



<body class="background_about_us">
    <!--------Header-------->
    <section class="header">
        <nav>
            <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='/img/logo.png')}}"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{url_for('index')}}">HOME</a></li>
                    <li><a href="{{url_for('faq')}}">FAQs</a></li>
                    <li><a href="{{url_for('about')}}">ABOUT US</a></li>
                    <!-- Slider Toggle Button -->
                    <li class="theme-slider">
                        <label class="switch">
                            <input type="checkbox" id="theme-slider-checkbox">
                            <span class="slider round"></span>
                        </label>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1>Welcome to MedEdMate!</h1>
            <h3>Your go-to source for responsible antibiotic use.</h3>
            <p>Navigating the world of antibiotics can be confusing.<br> We're here to guide you through the proper use
                of antibiotics, and help make informed choices for your health.<br> With our chatbot, finding relevant
                and accurate information has never been easier.</p>
            <h4> Click below to start your journey toward responsible antibiotic use today!</h3>
                <a href="#chat_bot_section" class="hero-btn"><span>TRY OUR CHATBOT!</span></a>
        </div>
    </section>

    <!--------Chat Bot-------->
    <section class="chat_bot_master">
        <div class="chat-header">
            <h2>MedEdMate Chatbot</h2>
        </div>
        <div class="chatbot" id="chat_bot_section">
            <div class="chatbox">
                <div id="chatConversation"></div>
            </div>


            <div class="chat-input">
                <textarea placeholder="Enter a message..." id="inputField" name="msg"></textarea>
                <span id="chatButton" class="chat-send-btn">
                    <i class="material-icons icon">send</i>
                </span>
            </div>
        </div>
    </section>

    <!--------Dispose Part-------->
    <section class="dispose" id="dispose_section">
        <h1>Find a Disposal Location Near You</h1>
        <h4>1. Enter your zip code or city in the search bar.</h4>
        <h4>2. Click on the "Find Location" button. </h4>
        <h4>3. Browse the map to see the closest disposal centers.</h4>

        <div id="map-search">
            <div class="input-wrapper">
                <input type="text" id="location-input" placeholder="Enter Zip Code or City">
                <button id="find-button" class="hero-btn"><span>Find Location</span></button>
            </div>
        </div>

        <div id="map-container"> </div>
    </section>

    <!----To-Top-Button---->
    <a href="#" class="to-top">
        <i class="fa fa-chevron-up"></i>
    </a>

    <!----Footer---->
    <footer>
        <div class="left-image">
            <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='/img/logo.png')}}" alt="Left Image"></a>
        </div>
        <ul class="menu">
            <li><a href="{{url_for('index')}}">HOME</a></li>
            <li><a href="{{url_for('faq')}}">FAQs</a></li>
            <li><a href="{{url_for('about')}}">ABOUT US</a></li>
        </ul>
        <ul class="social-icon">
            <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href=""><i class="fa fa-envelope"></i></a></li>
        </ul>
        <div class="right-image">
            <a href="https://www.um.edu.mt/ict/ai/" target="_blank"><img src="{{url_for('static', filename='/img/other/uom.png')}}" alt="Right Image"></a>
        </div>
        <p>©2023 MedEdMate | All Rights Reserved</p>
    </footer>



    <!--------JavaScript for Toggle Menu-------->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-270px";
        }
    </script>

    <!--------JavaScript for to-top arrow-------->
    <script>
        window.addEventListener('scroll', function () {
            const toTopButton = document.querySelector('.to-top');
            if (window.pageYOffset > 100) {
                toTopButton.classList.add('active');
            } else {
                toTopButton.classList.remove('active');
            }
        });
    </script>

    <!--------JavaScript for Slider Button-------->
    <script>
        document.getElementById('theme-slider-checkbox').addEventListener('change', function () {
            window.location.href = this.checked ? "{{url_for('simple_ui')}}": "{{url_for('index')}}";
        });
    </script>

    <!--------JavaScript for Disposal Map-------->
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWj-SHQnt36YU6Wf_KhYQdqzm2v7YuIVM&libraries=places,marker&callback=makeMap&v=beta&"></script>
    <script>
        var map
        var service

        function makeMap() {
            var currentLocation = { lat: 0, lng: 0 }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((loc) => {
                    currentLocation.lat = loc.coords.latitude;
                    currentLocation.lng = loc.coords.longitude;

                    map = new google.maps.Map(document.getElementById("map-container"), {
                        mapId: "eb7aae83c639ac98",
                        center: currentLocation,
                        zoom: 13
                    })

                    currentMarker = new google.maps.Marker({
                        map: map,
                        position: currentLocation,
                        title: "Current Location",
                        // icon: image // We can add an image here instead of marker
                    });


                    var request1 = {
                        type: "pharmacy",
                        location: currentLocation,
                        radius: 1000
                    };

                    var service = new google.maps.places.PlacesService(map);
                    service.nearbySearch(request1, callback1);


                    var request2 = {
                        type: "doctor",
                        location: currentLocation,
                        radius: 1000
                    };

                    var service = new google.maps.places.PlacesService(map);
                    service.nearbySearch(request2, callback2);
                })
            }
        }

        function callback1(results) {
            for (var i = 0; i < results.length; i++) {
                if (i < 5) {
                    var place = results[i];
                    new google.maps.Marker({
                        map: map,
                        position: place.geometry.location,
                        title: "Pharmacy: " + (place.name),
                        // icon: image // We can add an image here instead of marker
                    })
                }
            }
        }

        function callback2(results) {
            for (var i = 0; i < results.length; i++) {
                if (i < 5) {
                    var place = results[i];
                    new google.maps.Marker({
                        map: map,
                        position: place.geometry.location,
                        title: "Doctor: " + (place.name),
                        // icon: image // We can add an image here instead of marker
                    })
                }
            }
        }
    </script>

    <!--------JavaScript for Chatbot-------->
    <script>
        const chatInput = document.getElementById('inputField');
        const chatSubmit = document.getElementById('chatButton');
        const chatMessages = document.getElementById('chatConversation');
        
        function getBotResponse(message){
            const messageElement = document.createElement('div');
            
            const replyElement = document.createElement('div');
            const imageIcon = document.createElement('img');
            imageIcon.src = "{{url_for('static', filename='img/robot_thinking.png')}}";
            imageIcon.height = 50;
            imageIcon.width = 70;
            replyElement.appendChild(imageIcon);
            replyElement.classList.add('reply-message');

            messageElement.innerText = message;
            messageElement.classList.add('chat-message');
            chatMessages.appendChild(messageElement);
            chatInput.value = ""
            
            $.get("/get", { msg: message }).done(function (data) {
                reply(data.replace('Customer support:', ''), replyElement)
                imageIcon.src = "{{url_for('static', filename='img/robot_normal.png')}}";
            });
        }
        
        chatInput.addEventListener('keyup', function (event) {
            if (event.key === 'Enter') {
                chatButton.click();
            }
        });

        chatSubmit.addEventListener('click', function () {
            const message = chatInput.value.trim();
            if (!message) return;
            chatMessages.scrollTop = chatMessages.scrollHeight;
            getBotResponse(message);
        });

        function reply(message, replyElement) {
            const chatMessages = document.getElementById('chatConversation');
            const textElement = document.createElement('span'); // Create a new div for text
            textElement.innerText = ` ${message} `;
            textElement.classList.add('reply-text');
            replyElement.appendChild(textElement);
            chatMessages.appendChild(replyElement);
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }
    </script>
</body>

</html>